<!-- {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title> -->
    <!-- Bootstrap CSS -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
<!-- </head>
<body>
     Navigation Bar -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <a class="navbar-brand" href="/">Blood Donors Location</a> -->
        <!-- Add other nav items here -->
    <!-- </nav> -->

    <!-- <div class="container mt-5">
        <h2>Search Results for "{{ query }}"</h2>
        {% if results %}
            <ul class="list-group">
                {% for donor in results %}
                    <li class="list-group-item">{{ donor.name }} - {{ donor.blood_type }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No donors found for the specified blood type.</p>
        {% endif %}
    </div>
</body>
</html> 
 
